@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Concert One', cursive;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
    color: #b92b2b;
}

#background-container {
    top: 0; bottom: 0; left: 0; right: 0;
    position: fixed;
    overflow: hidden;
}
#background-video {
    top: 0; left: 0;
    position: absolute;
    width: auto; height: auto;
    min-width: 100%;
    min-height: 100%;
}

.overlay {width: 100%; height:100%; display:block;
    z-index: -1;
}

.list-films{
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card-wrapper{
    max-width: 500px;
    height: 500px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 12px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #b92b2b;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}